<!doctype html>
	<html>
		<head>
			<script src="js/angular.min.js"></script>
			<script src="js/custom.js"></script>
		</head>
		<body ng-app="myModule">
			<div ng-controller="emp_table">
				<table>
					<tr>
						<td>First Name:</td>
						<td> <input type="text" ng-model="emp_det.firstname" /> </td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td> <input type="text" ng-model="emp_det.lastname" /> </td>
					</tr>
					<tr>
						<td>Age:</td>
						<td><input type="text" ng-model="emp_det.age" /> </td>
					</tr>
				</table>
				<table>
					<tr>
						<td>First Name:</td>
						<td> {{ emp_det.firstname }} </td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td> {{ emp_det.lastname }} </td>
					</tr>
					<tr>
						<td>Age:</td>
						<td> {{ emp_det.age }} </td>
					</tr>
				</table>
			</div>
		</body>
	</html>